        #back-link {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 2;
        }

        #container {
            position: relative;
            width: 300px;
            margin: 50px auto 0 600px;
            text-align: center;

            transform: perspective(800px);
            transform-style: preserve-3d;
        }

        #bird-container{
            animation: bird-motion 1s ease-out 1 normal both;
            transform-origin: -50% 100%;
        }

        #bird {
            border: 1px solid red;
        }

        @keyframes bird-motion {
            from {
                transform: rotateY(0deg);
            }
            to {
                transform: rotateY(360deg);
            }
        }

        /* This is a moving, growing, rotating animation
        @keyframes bird-motion {
            from {
                transform: translate(0,0) rotate(0) scale(.5);
            }
            to {
                transform: translate(0,250px) rotate(360deg) scale(1.5); 
                /* translate moves element along the x,y axes per the args
            }
        }

        */
       

 